<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <td>question</td>
            <td>answer#1</td>
            <td>value#1</td>
            <td>answer#2</td>
            <td>value#2</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="question">오늘은 나의 생일이다. 나는 누구와 보내는 게 좋을까?</td>
            <td class="answer1">다수의 친구들과 시끌벅적하게 보낸다.</td>
            <td class="value1">E</td>
            <td class="answer2">소수의 친구들과 오붓하게 보낸다.</td>
            <td class="value1">I</td>
        </tr>
        <tr>
            <td class="question">파티 장소는 어디가 좋을까?</td>
            <td class="answer1">사람이 많은 번화가</td>
            <td class="value1">E</td>
            <td class="answer2">나만 아는 프라이빗한 공간</td>
            <td class="value2">I</td>
        </tr>
        <tr>
            <td class="question">파티 장소로 이동 중 고등학교 동창을 발견했다.</td>
            <td class="answer1">이름을 부르며 반갑게 인사한다. (tmi 가득)</td>
            <td class="value1">E</td>
            <td class="answer2">힐끔힐끔 쳐다보지만 먼저 말걸 때까지 모른 척한다.</td>
            <td class="value2">I</td>
        </tr>
        <tr>
            <td class="question">친구들을 파티에 초대하기로 했다. 어떻게 준비할까?</td>
            <td class="answer1">늘 하던 방식으로 준비한다.</td>
            <td class="value1">S</td>
            <td class="answer2">새로운 컨셉으로 준비한다.</td>
            <td class="value2">N</td>
        </tr>
        <tr>
            <td class="question">파티 장소로 이동하는데 어떤 길로 가볼까?</td>
            <td class="answer1">평소 가는 길로 빠르게 간다.</td>
            <td class="value1">S</td>
            <td class="answer2">기분도 좋으니 오늘은 새로운 길로 가본다.</td>
            <td class="value2">N</td>
        </tr>
        <tr>
            <td class="question">동창이 생일 파티에 오고 싶다고 한다. 나는 위치를 어떻게 설명할까?</td>
            <td class="answer1">"현재 네 위치에서 oo은행이 보일 거야. oo은행을 등지고 우회전하면 나오는 ㅁㅁ건물 옆 n층이야."</td>
            <td class="value1">S</td>
            <td class="answer2">"ㅁㅁ건물 있는데 거기 옆이야."</td>
            <td class="value2">N</td>
        </tr>
        <tr>
            <td class="question">누가 봐도 이상한 헤어스타일을 하고 온 친구가 어떻냐고 물어본다. 나는 어떻게 반응할까?</td>
            <td class="answer1">모른척 잘 어울린다고 말한다.</td>
            <td class="value1">F</td>
            <td class="answer2">"오늘 머리 좀 이상한데?"하고 솔직하게 말한다.</td>
            <td class="value2">T</td>
        </tr>
        <tr>
            <td class="question">파티 오는 길에 교통 사고 날 뻔 했다고 친구가 말한다.</td>
            <td class="answer1">어디 다친데는 없는지 상태 확인하고 "괜찮아?"라고 묻는다.</td>
            <td class="value1">F</td>
            <td class="answer2">어떻게 사고 날 뻔 했는지 묻는다.</td>
            <td class="value2">T</td>
        </tr>
        <tr>
            <td class="question">친구가 컨디션이 안 좋아서 먼저 집에 가야할 것 같다고 말한다.</td>
            <td class="answer1">요즘 무슨 일 있는건 아닌지, 괜찮은지 묻는다.</td>
            <td class="value1">F</td>
            <td class="answer2">서둘러 집에 가서 쉬라고 말한다.</td>
            <td class="value2">T</td>
        </tr>
        <tr>
            <td class="question">파티 음식이 모자라진 않는지 친구가 묻는다.</td>
            <td class="answer1">예상 인원에 맞게 준비했으니 부족하지 않을 거라고 말한다.</td>
            <td class="value1">J</td>
            <td class="answer2">나중에 음식 모자라면 그때 배달 시키려고 한다.</td>
            <td class="value2">P</td>
        </tr>
        <tr>
            <td class="question">생일 파티 순서가 있는지 친구가 묻는다.</td>
            <td class="answer1">계획이 다 짜여있다.</td>
            <td class="value1">J</td>
            <td class="answer2">오랜만에 만났으니 맛있게 먹고 노는 게 중요하다.</td>
            <td class="value2">P</td>
        </tr>
        <tr>
            <td class="question">친구가 나의 생일 파티를 위해 준비한 주문했던 케이크가 배송 문제로 제시간에 도착하지 못한다고 연락 왔다며 미안하다고 한다.</td>
            <td class="answer1">계획에 차질이 생긴 것에 기분이 상한다.</td>
            <td class="value1">J</td>
            <td class="answer2">어쩔 수 없다며 괜찮다고 말한다.</td>
            <td class="value2">P</td>
        </tr>
    </tbody>
</table>
</body>
</html>